.Sec2-Body{
    margin-top: 50px;
    background: rgb(123, 31, 170);
    padding: 48px 102px;
}

.Sec2-heading{
    text-align: left;
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 18px 0px;
}

.Sec2-Logo-Group{
    display: flex;
    flex-wrap: wrap;
}

.Sec2-Logo_Container{
    width: 194px;
    height: 65px;
    background: white;
    border-radius: 5px;
    margin: 11px 11px;
    align-content: center;
}

.Sec2-Logos{
    width: 164px;
    height: 49px;
    object-fit: contain;
}